body {
	overflow-x: hidden;
	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/*---- Layout ----*/

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.clear {
	clear:both;
}

/*---- Styles ----*/

h1 {
	font-size:60px;
}

.p-main {
	font-size:20px;
	line-height:40px;
	opacity:0.8;
}

.align-center {
	text-align:center;
}

.color-white {
	color:#fff;
}

.color-gold {
	color: goldenrod;
}

.color-theme {
	color:black;
}

.bkg-theme {
	background: black;
}

.border-theme {
	border:1px solid #ED4545;
}

.section {
	padding-top:80px;
	padding-bottom:40px;
	background:black;
}


/*---- Menu ----*/
.navbar{
	background: black;
}
.menu-button{
	display: contents;
}

/*---- Timer ----*/
.timer{
	font-size:small;
}

#kickstarter-timer-seconds{
	color: gold;
}

/*---- Header ----*/


.p2 {
	font-size:24px;
	font-weight: 600;
}

.p3 {
	font-size:20px;
	font-weight: 500;
}

.header-logo {
	width:100%;
}
/* Main images*/
.main-center-img{
	/* desktop version TODO shift to left and make bigger */
	background: rgba(255, 255, 255);
	position: absolute;
	top: 18%;
	width: 25%;
	right:8%;
	border-radius: 25px;
}
.main-left-img{
	max-width: 100%;
	max-height: 100%;
}
.main-right-img{
	max-width:100%;
	max-height:100%;
}

/*---- Signup Form ----*/

#mc_embed_signup_scroll { 
	font-family: 'Rubik', sans-serif;
}

#mc_embed_signup .button:hover{
	background: goldenrod !important;
}

/* Signup Form Font */
#mc_embed_signup label{
	color: black;
	padding-bottom: 0;
}

#mc_embed_signup .mc-field-group{
	padding-bottom:0 !important;
	min-height: 0 !important;
}

#mc-embedded-subscribe{
	white-space: normal !important;
	line-height: 26px !important;
	height: 100% !important;
	background: black !important;
}

.email {
	font-size: medium !important;
	width: 100% !important;
}

.subscribe{
	font-size:4vh;
	font-family: 'Rubik', sans-serif;
	color: goldenrod;
	font-weight: bold;
}

.subscribe-desc{
	font-size: 3.2vh;
	line-height: 1.4rem;
}

.subscribe-button{
	font-size: 3vh;
	color: white;
	font-weight: bold;
}

/*---- Quotes ----*/
.quotes-img{
	height:100px;
}

/*---- FAQ ----*/

#faq .container {
	max-width:1000px;
}

#faq p{
	margin-bottom:40px;
}

#faq h3 {
	font-size:28px;
}
.faq-collapsible h3 {
	padding: 15px 20px;
}
.faq-collapsible:hover{
	cursor: pointer;
	background-color:darkgray;
	
}

.faqAnswer{
	display: none;
	font-family: 'Rubik', sans-serif;
}




/*---- footer ----*/

.footer {
	background:white;
	padding-bottom:2px;
	height:60px;
	padding-top:20px;
}

.footer .container {
	height:60px;
}

.footer-logo {
	width:100px;
}

.footer a {
	position:relative;
	bottom:14px;
	font-size:16px;
	text-transform:uppercase;
	font-family: 'Rubik', sans-serif;
	text-decoration:none;
	color:white;
	text-align:center;
	left:16px;

}

.footer a:hover {
	color:white;
}

.footer-left {
	float:left;
}

.footer-right {
	float:right;
}

.footer ul {
	display:inline-block;
}

.footer-right li {
	display:inline-block;
	padding-left:16px;
	padding-right:16px;
	position:relative;
	top:20px;
}


/*---- Responsive ----*/

@media screen and (max-width:1250px) {

}

@media screen and (max-width:1024px) {
	.subscribe{
		font-size:3.2vh;
	}

	.email {
		font-size: small !important;
	}

	.main-center-img{
		background: rgba(255, 255, 255);
		position: absolute;
		top: 15%;
		width: 23%;
		right:4%;
		border-radius: 25px;
	}
	
	.subscribe-desc{
		font-size: 2.7vh;
	}
	
	.subscribe-button{
		font-size: 3vh;
	}

	h1 {
		font-size:40px;
	}

	.p2 {
		font-size:20px;
	}

	button.tablink {
		font-size:16px;
	}

}

@media screen and (max-width:768px) {
	.main-center-img{
		position: relative;
		max-width: 100%;
		max-height:100%;
		min-height: 95%;
		padding-left: 50px !important;
		padding-right: 50px !important;
		width: 100%;
		right: 0;
		border-radius: 0px;
	}

	.header-section {
		text-align:center;
		display: inline-flex;
	}

	.header-text {
		margin-top:50px;
	}

	.header-section .button {
		width:100%;
	}

	.hidden-menu{
		display:none !important;
	}
	#kickstarter-timer-seconds-collapsible{
		color: gold;
	}

	.subscribe{
		font-size:2.25rem;
		font-family: 'Rubik', sans-serif;
		color: goldenrod;
	}

	#mc-embedded-subscribe{
		font-size: large !important;
		width: 100% !important;
	}

	.email {
		font-size: medium !important;
		width: 100% !important;
	}
}

@media screen and (max-width:705px) {

}

@media screen and (max-width:657px) {

	.menu-icon {
		color: white !important;
		display:inherit;
		float:left;
	}

	.menu {
		background:black;
		padding-top:0px;
		margin-top:22px;
		box-shadow:0px 4px 10px rgba(0,0,0,0.2);
		display:none;
	} 

	.menu.show {
		display:inherit;
	}

	.menu li {
		width:90%;
		height:50px;
		text-align:left;
		margin:0;
	}

	.menu li a {
		color:white;
		line-height:50px;
	}

	.header-logo {
		padding-top:50px;
	}

}

@media screen and (max-width:560px) {

}

@media screen and (max-width:550px) {

	.header-section {
		width:100%;
		display: inline-flex;
		box-sizing: border-box;
	}

	h2 {
		font-size:28px;
	}

	.p-main {
		font-size:17px;
	}

	.section {
		background: black;
	}

	#faq h3 {
		font-size:22px;
		line-height:40px;
	}

	.footer {
		height:inherit;
	}

	.footer a:hover {
		opacity:0.7;
	}

	.footer .container {
		height:inherit;
	}

	.footer-left {
		position:relative;
		top:25px;
	}

	.footer-logo {
		display:none;
	}

}

@media screen and (max-width:465px) {
	/* Main images*/
	.main-center-img{
		max-width: 100%;
		max-height:100%;
		min-height: 95%;
	}
	.main-left-img{
		max-width: 100%;
		max-height: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.main-right-img{
		max-width:100%;
		max-height:100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	#mc-embedded-subscribe{
		margin-top:10px !important;
		font-size: medium !important;
		white-space: normal !important;
		line-height: 26px !important;
		width: 100% !important;
	}
}

@media screen and (max-width:360px) {
	#mc-embedded-subscribe{
		font-size: small !important;
	}
}

.center-block{
	display:block; 
	margin-left:auto; 
	margin-right:auto;
	margin-bottom: 5px;
}